@charset "UTF-8";

@import url(../fonts/fonts.css);

@import url(../vendor/normalize.css);

article,
aside,
audio,
blockquote,
body,
canvas,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
input,
li,
mark,
menu,
nav,
ol,
p,
pre,
section,
summary,
td,
textarea,
th,
time,
ul,
video {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img,
span {
    border: none;
}
address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: 400;
}
ol,
ul {
    list-style: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
time {
    display: block;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 7px;
}
*::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 0 !important;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
}

* {
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    height: 100%;
}
body.-overflow-hidden,
html.-overflow-hidden {
    overflow: hidden;
}
body {
    font-family: Inter, sans-serif;
    font-size: 17px;
    line-height: 22px;
    color: #000;
    background: #eef1f4;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    transition: background 0.3s linear;
}
body.-black,
body.-p404,
body.-webcalls {
    color: #fff;
    background: #000;
}
body.-black .page,
body.-p404 .page,
body.-webcalls .page {
    margin-bottom: 0;
}
body.-agent .page,
body.-myteam .page,
body.-webcalls .page {
    display: table;
    width: 100%;
    height: 100%;
}

body.-myteam {
    color: #000;
    background: #f3f6fd;
}
body.-myteam .page {
    margin-bottom: 0;
}
body.-agent {
    color: #000;
    background: #fff;
}
body.-agent .page {
    margin-bottom: 0;
}
input[type="text"],
textarea {
    -webkit-appearance: none;
}
a {
    color: inherit;
    text-decoration: none;
}
b {
    font-weight: 700;
}

.page {
    position: relative;
    overflow: hidden;
}
@media (min-width: 768px) {
    .page {
        min-height: 100%;
        margin-bottom: -182px;
    }
}
@media (min-width: 1440px) {
    .page {
        margin-bottom: -226px;
    }
}
.page__left {
    display: none;
    background: #fff;
}
@media (min-width: 768px) {
    .page__left {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 44%;
    }
}
@media (min-width: 980px) {
    .page__left {
        width: 35%;
    }
}
@media (min-width: 1900px) {
    .page__left {
        width: 27%;
    }
}
@media (min-width: 2200px) {
    .page__left {
        width: 18%;
    }
}
.page__right {
    padding-bottom: 70px;
}
@media (min-width: 768px) {
    .page__right {
        width: 56%;
        padding-bottom: 270px;
        margin: 0 0 0 auto;
    }
}
@media (min-width: 980px) {
    .page__right {
        width: 65%;
    }
}
@media (min-width: 1440px) {
    .page__right {
        padding-bottom: 280px;
    }
}
@media (min-width: 1900px) {
    .page__right {
        width: 73%;
    }
}
@media (min-width: 2200px) {
    .page__right {
        width: 82%;
    }
}
.page.-transition .header {
    transition: top 0.3s linear;
}
.page.-transition .login__body {
    transition: padding-top 0.3s linear;
}
.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px 0 28px;
    width: 100%;
    height: 100px;
    z-index: 1000;
}
@media (min-width: 980px) {
    .header {
        height: 130px;
        padding: 0 70px 0 70px;
    }
}
.header:after,
.header:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0;
}
.header:before {
    display: none;
    left: 0;
    background: linear-gradient(179.89deg, #fff 24.96%, rgba(255, 255, 255, 0) 96.09%);
}
@media (min-width: 768px) {
    .header:before {
        display: block;
        width: 44%;
    }
}
@media (min-width: 980px) {
    .header:before {
        width: 35%;
    }
}
@media (min-width: 1900px) {
    .header:before {
        width: 27%;
    }
}
@media (min-width: 2200px) {
    .header:before {
        width: 18%;
    }
}
.header:after {
    width: 100%;
    right: 0;
    background: linear-gradient(179.89deg, #eef1f4 24.96%, rgba(238, 241, 244, 0) 96.09%);
}
@media (min-width: 768px) {
    .header:after {
        width: 56%;
    }
}
@media (min-width: 980px) {
    .header:after {
        width: 65%;
    }
}
@media (min-width: 1900px) {
    .header:after {
        width: 73%;
    }
}
@media (min-width: 2200px) {
    .header:after {
        width: 82%;
    }
}
.header.-shadow-one:before {
    display: none;
}
.header.-shadow-one:after {
    left: 0;
    width: auto;
    background: linear-gradient(179.89deg, #eef1f4 24.96%, rgba(238, 241, 244, 0) 96.09%);
}
.header__logo {
    width: 181px;
    height: 36px;
    z-index: 1;
}
@media (min-width: 980px) {
    .header__logo {
        width: 181px;
        height: 36px;
    }
}

.header__logo img {
    display: block;
    width: 100%;
    height: auto;
}
@media (min-width: 980px) {
    .header__logo img {
        width: 100%;
        height: auto;
    }
}

.header__tools {
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    z-index: 1;
}
@media (min-width: 980px) {
    .header__tools {
        right: 66px;
        font-size: 20px;
    }
}
.header-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.header-links__item:not(:first-child) {
    margin-left: 20px;
}
@media (min-width: 768px) {
    .header-links__item:not(:first-child) {
        margin-left: 36px;
    }
}
.header-links a {
    position: relative;
    display: inline-block;
    font-weight: 700;
    padding-bottom: 3px;
}
.header-links a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #0066ff;
    transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1);
}
.header-links a:hover:after {
    box-shadow: 0 1px 10px 2px #0066ff;
}
@media (max-width: 374px) {
    .header-links a > span {
        display: none;
    }
}
.header-language {
    position: relative;
    font-weight: 700;
    margin-left: 20px;
}
@media (min-width: 768px) {
    .header-language {
        margin-left: 36px;
    }
}
.header-language:hover .header-language__inner {
    display: block;
}
.header-language:hover .header-language__curent:after {
    transform: scale(1, -1);
}
.header-language:hover .header-language__curent:before {
    display: block;
}
.header-language__inner {
    display: none;
    position: absolute;
    left: -10px;
    right: -12px;
    top: 0;
    padding-top: 30px;
}
.header-language__list {
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(23, 23, 23, 0.8);
    color: #fff;
    border-radius: 12px;
}
.header-language__item {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    padding: 4px 12px 4px 10px;
}
.header-language__item.-active:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-radius: 2px;
    background: #c4c4c4;
}
.header-language__item:not(.-active):hover {
    color: #0066ff;
}
.header-language__item:not(.-active):hover:after {
    background: #0066ff;
    box-shadow: 0 2px 6px #0066ff;
}
.header-language__curent {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.header-language__curent:before {
    display: none;
    content: "";
    position: absolute;
    right: -20px;
    top: 11px;
    width: 10px;
    height: 0;
    box-shadow: 0 3px 10px 3px #0066ff;
}
.header-language__curent:hover:before {
    display: block;
}
.footer {
    padding-bottom: 40px;
}
@media (min-width: 768px) {
    .footer {
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-end;
    }
}
@media (min-width: 1440px) {
    .footer {
        padding-bottom: 84px;
    }
}
@media (min-width: 768px) {
    .footer__left {
        width: 44%;
    }
}
@media (min-width: 980px) {
    .footer__left {
        width: 35%;
    }
}
@media (min-width: 1900px) {
    .footer__left {
        width: 27%;
    }
}
@media (min-width: 2200px) {
    .footer__left {
        width: 18%;
    }
}
.footer__right {
    text-align: center;
    margin-top: 29px;
}
@media (min-width: 768px) {
    .footer__right {
        width: 56%;
        text-align: right;
        margin-top: 0;
    }
}
@media (min-width: 980px) {
    .footer__right {
        width: 65%;
    }
}
@media (min-width: 1900px) {
    .footer__right {
        width: 73%;
    }
}
@media (min-width: 2200px) {
    .footer__right {
        width: 82%;
    }
}
.footer__content {
    padding: 0 16px;
}
@media (min-width: 768px) {
    .footer__content {
        padding-right: 23%;
    }
}
@media (min-width: 980px) {
    .footer__content {
        padding-right: 12%;
    }
}

@media (min-width: 768px) {
    .content-left .menu {
        text-align: left;
        display: flex;
        flex-direction: column;
        left: 7%;
    }
}
.content-left {
    margin: 150px 20px 0 0;
    position: fixed;
    width: 430px;
}
@media (min-width: 980px) {
    .content-left {
        margin-top: 160px;
    }
}
.content-left__title {
    display: -ms-flexbox;
    display: flex;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 0.4rem;
}
.content-left__title:before {
    content: "";
    display: block;
    width: calc(26% - 0.35rem);
    margin-right: 0.8rem;
    background-image: url("../images/dot-grid.png");
    background-repeat: repeat;
    background-position: 50% 0;
    background-size: 10px 10px;
}
.content-left p {
    font-size: 0.29rem;
    line-height: 1.3;
    margin-left: 26%;
}
@media (min-width: 1440px) {
    .content-left p {
        font-size: 0.25rem;
        line-height: 1.4;
    }
}
.content-right {
    padding: 117px 16px 0 70px;
}
@media (min-width: 375px) {
    .content-right {
        padding-left: 28px;
        padding-right: 28px;
    }
}
@media (min-width: 768px) {
    .content-right {
        padding: 150px 0 0 14%;
    }
}
@media (min-width: 980px) {
    .content-right {
        padding: 155px 0 0 12%;
    }
}
@media (min-width: 1900px) {
    .content-right {
        padding-left: 11%;
    }
}
@media (min-width: 2200px) {
    .content-right {
        padding-left: 10%;
    }
}
@media (min-width: 768px) {
    .content-right__body {
        margin-right: 27%;
    }
}
@media (min-width: 980px) {
    .content-right__body {
        margin-right: 20%;
    }
}
@media (min-width: 1900px) {
    .content-right__body {
        margin-right: 0;
    }
}
.content-right__text {
    max-width: 100%;
    margin: 0 auto 45px auto;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
}
@media (min-width: 768px) {
    .content-right__text {
        text-align: left;
        max-width: 100%;
        margin: 0 0 35px 0;
    }
}
@media (min-width: 980px) {
    .content-right__text {
        margin: 0 0 40px 0;
        max-width: 1200px;
    }
}
@media (min-width: 1440px) {
    .content-right__text {
        margin-bottom: 50px;
    }
}
@media (min-width: 1900px) {
    .content-right__text {
        margin-bottom: 52px;
        margin-right: 0;
    }
}
@media (min-width: 2200px) {
    .content-right__text {
        margin-bottom: 56px;
    }
}

.content-right h1 {
    font-size: 35px;
    line-height: 36px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;
    padding: 0 20px 0 0;
    width: 100%;
    display: flex;
}
@media (max-width: 768px) {
    .content-right h1 + .content-right__body {
        margin-top: 45px;
        font-size: 30;
    }
}
@media (min-width: 768px) {
    .content-right h1 {
        display: flex;
    }
}

.content-right h3 {
    font-size: 25px;
    line-height: 36px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;
    display: flex;
}
@media (max-width: 768px) {
    .content-right h3 + .content-right__body {
        margin-top: 45px;
    }
}
@media (min-width: 768px) {
    .content-right h3 {
        display: flex;
    }
}
@media (min-width: 768px) {
    .content-right.-center {
        padding-left: 0;
    }
}
@media (min-width: 375px) {
    .content-right p {
        padding: 0;
    }
}

@media (min-width: 809px) {
    .content-right p {
        padding: 20px;
    }
}

.content-right p {
    max-width: 1200px;
    margin: 0 0 24px 0;
    padding: 0 70px 0 0;
    line-height: 25px;
    font-weight: 400;
}

.content-right.-center .content-right__body {
    margin-right: 0;
}

.menu {
    font-size: 16px;
    line-height: 20px;
    list-style: none !important;
    position: fixed;
    left: 7%;
    bottom: 90px;
    z-index: 999;
}

@media (min-width: 375px) {
    .menu {
        display: none;
    }
}

.menu__item {
    white-space: nowrap;
}
.menu__item:not(:last-child) {
    margin-bottom: 16px;
}
.menu__item.-active a:after,
.menu__item.-active span:after {
    display: none;
}
.menu a,
.menu span {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
}
.menu a:after,
.menu span:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #0066ff;
    transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1);
}
.menu a:hover:after,
.menu span:hover:after {
    box-shadow: 0 1px 10px 2px #0066ff;
}
.copyright {
    font-size: 16px;
    line-height: 20px;
    color: #000003;
    opacity: 0.5;
    margin-top: 20px;
}
@media (min-width: 768px) {
    .copyright {
        margin-top: 32px;
    }
}
@media (min-width: 980px) {
    .copyright {
        margin-top: 38px;
    }
}
.copyright a {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
}
.copyright a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #0066ff;
    transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1);
}
.copyright a:hover:after {
    box-shadow: 0 1px 10px 2px #0066ff;
}